pipeline/FileIngestion.json
{
	"name": "FileIngestion",
	"properties": {
		"activities": [
			{
				"name": "ObjectsLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetObjectsMetadata]",
						"storedProcedureParameters": {
							"objectid": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ObjectId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_METADATA",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy data to ASQL_Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Switch1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"additionalColumns": [
							{
								"name": "DQ_Check",
								"value": "PASSED"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "@{concat('DROP TABLE IF EXISTS ',activity('ObjectsLookup').output.firstRow.TargetDataBase,'.',activity('ObjectsLookup').output.firstRow.TargetObjectName,'_stage ;')}",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS_BRONZE_PQT",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@concat(activity('ObjectsLookup').output.firstRow.BronzeLayerPath, '/', activity('ObjectsLookup').output.firstRow.sourcetype, '/', activity('ObjectsLookup').output.firstRow.schema, '/', activity('ObjectsLookup').output.firstRow.SourceObjectName)",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(activity('ObjectsLookup').output.firstRow.SourceObjectName, '_', formatDateTime(pipeline().TriggerTime,'yyyyMMddHHMMss'), '.parquet')",
								"type": "Expression"
							},
							"container": {
								"value": "@split(split(activity('ObjectsLookup').output.firstRow.ContainerPath, '/')[2], '@')[0]",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Load_to_ASQL",
						"type": "DatasetReference",
						"parameters": {
							"Schema": {
								"value": "@activity('ObjectsLookup').output.firstRow.TargetDataBase",
								"type": "Expression"
							},
							"TableName": {
								"value": "@concat(activity('ObjectsLookup').output.firstRow.TargetObjectName,'_stage')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Column Mapping Lookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data to ASQL_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dbo.ObjectColumnMapping WHERE ObjectID = @{pipeline().parameters.ObjectId} AND IsActive = 1;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_METADATA",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Column Mapping Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Column Mapping Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "DQ_Load_To_ASQL",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SP_DataQuality_Check]",
								"storedProcedureParameters": {
									"ColumnName": {
										"value": {
											"value": "@item().ObjectTargetColumn",
											"type": "Expression"
										},
										"type": "String"
									},
									"ConstraintType": {
										"value": {
											"value": "@item().ObjectSourceColumnConstraints",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "@item().ObjectName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "ObjectsLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@toUpper(activity('ObjectsLookup').output.firstRow.sourcetype)",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "CSV",
							"activities": [
								{
									"name": "Copy CSV data to ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ADLS_CSV",
											"type": "DatasetReference",
											"parameters": {
												"Folder": "FileInputEmail",
												"FileName": {
													"value": "@activity('ObjectsLookup').output.firstRow.SourceObjectName",
													"type": "Expression"
												},
												"Container": "test"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_BRONZE_PQT",
											"type": "DatasetReference",
											"parameters": {
												"directory": {
													"value": "@concat(activity('ObjectsLookup').output.firstRow.BronzeLayerPath, '/', activity('ObjectsLookup').output.firstRow.sourcetype, '/', activity('ObjectsLookup').output.firstRow.schema, '/', activity('ObjectsLookup').output.firstRow.SourceObjectName)",
													"type": "Expression"
												},
												"file_name": {
													"value": "@concat(activity('ObjectsLookup').output.firstRow.SourceObjectName, '_', formatDateTime(pipeline().TriggerTime,'yyyyMMddHHMMss'), '.parquet')",
													"type": "Expression"
												},
												"container": {
													"value": "@split(split(activity('ObjectsLookup').output.firstRow.ContainerPath, '/')[2], '@')[0]",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "XLSX",
							"activities": [
								{
									"name": "Copy XLSX data to ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "adls_sapsrc_files",
											"type": "DatasetReference",
											"parameters": {
												"FileName": "FFEAF"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_BRONZE_PQT",
											"type": "DatasetReference",
											"parameters": {
												"directory": {
													"value": "@concat(activity('ObjectsLookup').output.firstRow.BronzeLayerPath, '/', activity('ObjectsLookup').output.firstRow.sourcetype, '/', activity('ObjectsLookup').output.firstRow.schema, '/', activity('ObjectsLookup').output.firstRow.SourceObjectName)",
													"type": "Expression"
												},
												"file_name": {
													"value": "@concat(activity('ObjectsLookup').output.firstRow.SourceObjectName, '_', formatDateTime(pipeline().TriggerTime,'yyyyMMddHHMMss'), '.parquet')",
													"type": "Expression"
												},
												"container": {
													"value": "@split(split(activity('ObjectsLookup').output.firstRow.ContainerPath, '/')[2], '@')[0]",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "TXT",
							"activities": [
								{
									"name": "Copy TXT data to ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "adls_sapsrc_files",
											"type": "DatasetReference",
											"parameters": {
												"FileName": "FEFF"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_BRONZE_PQT",
											"type": "DatasetReference",
											"parameters": {
												"directory": {
													"value": "@concat(activity('ObjectsLookup').output.firstRow.BronzeLayerPath, '/', activity('ObjectsLookup').output.firstRow.sourcetype, '/', activity('ObjectsLookup').output.firstRow.schema, '/', activity('ObjectsLookup').output.firstRow.SourceObjectName)",
													"type": "Expression"
												},
												"file_name": {
													"value": "@concat(activity('ObjectsLookup').output.firstRow.SourceObjectName, '_', formatDateTime(pipeline().TriggerTime,'yyyyMMddHHMMss'), '.parquet')",
													"type": "Expression"
												},
												"container": {
													"value": "@split(split(activity('ObjectsLookup').output.firstRow.ContainerPath, '/')[2], '@')[0]",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					]
				}
			},
			{
				"name": "Data Load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_Merge]",
					"storedProcedureParameters": {
						"LoadType": {
							"value": {
								"value": "@toUpper(activity('ObjectsLookup').output.firstRow.LoadType)",
								"type": "Expression"
							},
							"type": "String"
						},
						"Schema": {
							"value": {
								"value": "@activity('ObjectsLookup').output.firstRow.TargetDataBase",
								"type": "Expression"
							},
							"type": "String"
						},
						"sourceobjectid": {
							"value": {
								"value": "@pipeline().parameters.ObjectId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"TableName": {
							"value": {
								"value": "@activity('ObjectsLookup').output.firstRow.TargetObjectName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"ObjectId": {
				"type": "string",
				"defaultValue": "57"
			},
			"IngestionName": {
				"type": "string",
				"defaultValue": "EmailSource"
			}
		},
		"folder": {
			"name": "Child pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2024-10-27T18:14:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}